.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}
.flex-block {
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.main-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input:required {
    border: 1px solid red;
}

input:valid {
    border: 1px solid #4CAF50;
}

.link {
    color: black;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 25px;
}

.custom-select {
    width: 200px;
    height: 40px;
    overflow: hidden;
    background: white;
    padding: 0 20px;
}

.text {
    margin: 0 0 10px;
}

.modal-dialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	display: none;
	pointer-events: none;
}

.modal-dialog:target {
	display: block;
	pointer-events: auto;
}

.modal-dialog > div {
	width: 300px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background: #fff;
}

.center-text-modal {
    text-align: center;
}

.error {
    text-align: center;
}

.error-message {
   color: red; 
}

.error-border:valid {
    border: 1px solid red;
}
.valid-border :valid {
}

.back-button {
    background-color: #337ab7;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.del-button {
    background-color: red;
    border: none;
    color: white;
    padding: 5px 5px 3px 5p;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
}
table {
    text-align: center;
}